*
!*/
!.gitignore
!*.cpp
!*.h
!*.m
!Makefile
!*.md
!*.py
!*.java
!*.sql
!*.hpp
!LICENSE
!*.cs
!*.config
!*.sln
!*.csproj
!*.resx
!*.settings
!*.conf
!*.mongo
!*.sh
!*.dll
/DDB/TestMongoDB/FlightBookingWindow/obj/Debug
/DDB/TestMongoDB/FlightBookingWindow/bin/Debug
/DDB/TestMongoDB/TestMongoDB/obj/Debug
/DDB/TestMongoDB/TestMongoDB/bin/Debug
